.messages {
	margin-top: 240px;
}

.command {
	margin-top: 300px;
}

.absolute {
	position: absolute;
}

#error {
	color: red;
	margin-top: 12px;
}

.padded-top {
	padding-top: 65px;
}

.padded-bottom {
	padding-bottom: 65px;
}